body{
	margin: 0;
	padding: 0;
}
.pasc-navbar{
	background-color:#61bfbe ;
	color: white;
	height: 80px;
	width: 100%;
	position: fixed;
	z-index: 1000;
	margin: 0;
}
.pasc-brand{
	float: left;
	font-weight: bold;
	font-size: 150%;
	padding: 25px 0 20px 10px;
}
.menu-bar{
	width: 50%;
	padding: 0px 0 20px 10px;
	float: right;
}
.menu-items{
	float: right;
	margin: 0;
	padding: 27px;
	color: white;
	font-size: 110%;
	transition: all 0.5s ease-out;
	webkit-transition: all 0.5s ease-out;
	cursor: pointer;
}
.menu-items:hover{
	background-color:#65cfce; 
}
.hamburger{
	display: none;
	cursor: pointer;
	padding: 32px;
}
.hamburger-menu{
	display: none;
}
.active{
	background-color:#65cfce;
	border-bottom: solid 4px #419f9e; 
}
.menu-bar a,.hamburger-menu a{
	text-decoration: none;
	color: white;
}
.menu-bar a:hover,.hamburger-menu a:hover{
	color: white;
	text-decoration: none;
}
@media all and (max-width: 1500px){
	.menu-bar{
		display: none;
	}
	.hamburger-menu{
		display: block;
		background-color: #61bfbe;
		position: fixed;
		top: 0px;
		right: -300px;
		height: 100%;
		width: 300px;
		z-index: 1000;
	}
	.hmenu-items{
		color: white;
		width: 300px;
		padding: 15px 0 15px 20px;
		/*height: 55px;*/
		border-bottom: 1px solid white;
		font-size:150%;
		text-align: left;
		transition: all 0.5s ease-out;
		webkit-transition: all 0.5s ease-out;
		cursor: pointer;
	}
	.hmenu-items:hover{
		background-color: #65cfce; 
	}
	.hamburger{
		display: inline-block;
	}
	#cancel{
		cursor: pointer;
		color: white;
		float: right;
		padding-right:20px; 
		padding-top: 5px;

	}
}
