  <!-- Full Page Image Background Carousel Header -->
<section>  


    <carousel interval="myInterval" class="carousel slide">
        <div class="carousel-inner">
      <slide ng-repeat="slide in slides" active="slide.active" class="item">
        <img ng-src="{{slide.image}}" class="fill">
        <div class="carousel-caption">
          <h2 class="animated fadeInDown">{{slide.text}}</h2>
        </div>
      </slide>
    </div>
    </carousel>
</section>    


<a class="scroll-down" href="#section-1" du-smooth-scroll du-scrollspy address="false"></a>
<section id="section-1">
<h1 class="heading fadeInRight">{{ title }}</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 content">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        
        <div class="col-sm-12 col-md-5 col-lg-5 content" style="border-left: 2px solid #D3D3D3";>
            <ul ticker style="background-color: #D3D3D3;width: 400px;margin-left: 35px;">
              <li ng-repeat="item in myTickerItems" class="item-{{$index}}">
                {{item.title}} - {{item.copy}}
              </li>
            </ul>
        </div>
    </div>
</div>
</section>