body{
	margin: 0;
	padding: 0;
}
.navbar{
	background-color:#61bfbe ;
	color: white;
	height: 75px;
	width: 100%;
	position: fixed;
}
.brand{
	float: left;
	font-weight: bold;
	font-size: 150%;
	padding: 20px 0 20px 10px;
}
.menu-bar{
	width: 50%;
	padding: 0px 0 20px 10px;
	float: right;
}
.menu-items{
	float: right;
	margin: 0;
	padding: 25px;
	color: white;
	height: 25px;
	font-size: 110%;
	transition: all 0.5s ease-out;
	webkit-transition: all 0.5s ease-out;
	cursor: pointer;
}
.menu-items:hover{
	background-color:#65cfce; 
}
.hamburger{
	display: none;
	cursor: pointer;
}
.hamburger-menu{
	display: none;
}
.active{
	background-color:#65cfce; 
}
.menu-bar a,.hamburger-menu a{
	text-decoration: none;
	color: white;
}
@media all and (max-width: 1500px){
	.menu-bar{
		display: none;
	}
	.hamburger-menu{
		display: block;
		background-color: #61bfbe;
		position: fixed;
		top: 0px;
		right: -300px;
		height: 100%;
		width: 300px;
	}
	.hmenu-items{
		color: white;
		width: 300px;
		padding: 20px 0 0 10px;
		height: 55px;
		border-bottom: 1px solid white;
		font-size:150%;
		text-align: left;
		transition: all 0.5s ease-out;
		webkit-transition: all 0.5s ease-out;
		cursor: pointer;
	}
	.hmenu-items:hover{
		background-color: #65cfce; 
	}
	.hamburger{
		display: inline-block;
	}
	#cancel{
		cursor: pointer;
		color: white;
		float: right;
		padding-right:20px; 

	}
} 